# URL base de la API backend en ASP.NET Core
VITE_API_URL=https://api-tutorias-edwin-efdqckefatfncwc7.mexicocentral-01.azurewebsites.net

# URL del Frontend (Vercel / Local)
VITE_FRONTEND_URL=https://tutorias-u-frontend.vercel.app

# Credenciales de Google OAuth 2.0 Client ID
VITE_GOOGLE_CLIENT_ID=267430643520-sf28nd81511itg28kg925c1ooao41n2g.apps.googleusercontent.com

# Credenciales de Microsoft Azure AD / Entra ID Application (client) ID
VITE_MICROSOFT_CLIENT_ID=467af7d5-3833-4dac-8597-dc0822e39baa
